.header-wrapper {
  padding: 2rem;
  text-align: center;
  background-color: #1e1e2f;
  color: white;
}

.header-text {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #ccc;
}

.nav {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.header-menu-wrapper {
    width: 80%;
    margin: 0 auto;
    align-content: baseline;

}

.header-menu-wrapper a {
  color: #61dafb;
  font-weight: bold;
  transition: color 0.3s ease;
}

.header-menu-wrapper a:hover {
  color: #21a1f1;
}